@media only screen and (max-width: 480px){
	main{
		width: 95%;
		padding: 15px 0; 
	}

	.photo{
		width: calc(100% - 10px);
		height: calc((55vw - 20px) / 9 * 16);
		background-color: #efefef;
		margin: 10px 5px;
	}
}